html,
body {
    height: 100%;
}

#demo-div {
    color: lightgrey;
    border-radius: 0.3rem;
}

#demo-div span,
#demo-div #num-observed-events {
    color: black;
}

#demo-div li {
    line-height: 21px;
}

#demo-div ul {
    margin-bottom: 0.66rem;
}

#offcanvasMenu {
    width: 180px;
}